In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
data=pd.read_csv('NY_Restauraunts_checkins.csv')
data.head() #id de usuario e id de lugar que visita

   user_ID  venue_ID
0    35443       899
1    24973     42406
2    14860       177
3   222505       177
4    63524       609

Computaremos la similaridad como el espacio entre dos puntos, en este caso no tenemos mucha informacion. Hay que ser creativo. Podemos definir cada lugar segun el usuraio unico que haya visitado.

In [23]:
data['checkin']=1
data.shape[0] # cantidad de filas

27149

In [24]:
len(data['user_ID'].unique()) #conocer cuantos usuarios unicos hay

2060

In [25]:
# para crear un metrico relacionado con la distancia, es decir asignar a cada lugar 2060 coordinados y con 1 o 0 veremos si fue o no. La distancia de Yackar permite concernar mas de 1 numero. Trabajamos con un set de elementos unicos de la lista. quitemos duplicados en el conjunto no es importante en esta metrica por tanto debemos quitarla, esto se refiere a una persona visita un lugar mas de una vez

data.groupby(['user_ID','venue_ID']).count().sort_values('checkin',ascending=False)

                  checkin
user_ID venue_ID
51957   435580        149
51445   64971          92
17238   9209           86
8952    39242          74
133970  41096          73
...                   ...
266532  925             1
        11942           1
        21041           1
266576  10289           1
        17779           1

[13472 rows x 1 columns]

In [27]:
df=data.drop_duplicates()
df.shape

(13472, 3)

In [28]:
# codificar en espacio vectorial
len(set(df['user_ID']))

2060

In [29]:
len(set(df['venue_ID']))

2876

In [30]:
matrix=df.reset_index()\
    .pivot(index='venue_ID',columns='user_ID',values='checkin')\
    .fillna(0)\
    .astype(int)

In [31]:
matrix.head()

user_ID,6,15,25,72,99,102,104,105,129,131,...,264033,264057,264722,264953,265643,265904,265965,266532,266576,266712
venue_ID,,,,,,,,,,,,,,,,,,,,,
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
matrix.shape

(2876, 2060)

In [33]:
matrix.sum(axis=1)

venue_ID
15          1
20         20
25         29
26          2
36         10
           ..
2167106     1
2232344     1
2302016     1
2376156     1
2422200     1
Length: 2876, dtype: int64